.block{
	padding: auto;
	margin: 5px;
	height: 100px;
	width: 100px;		
	font-size: 40px;
	float: left;
	background-color: #FFD1A4;	
	border-color: #9D9D9D;	
	border-style: solid;
	border-width: 5px;
	position: relative;
	border-radius: 10px;	
}
.blockin
{
	height: 100px;
	width: 100px;
	border-radius: 10px;
	background-color: #FFD1A4;
	position: relative;
	z-index: 2048;
}
.body{
	padding: 10px;
	background-color: #7B7B7B;
	height: 480px;
	width: 480px;		
	font-family: Rockwell Extra Bold;
	position: relative;
	border-radius: 10px;

}
.center{
	margin: 0px;
	padding-top: 26.5px;
	text-align: center;
	color:#ffffff;
}
.two{
	background-color: #FFD1A4;
}